* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html {
    font-family: 'Poppins', sans-serif ;
    background-color: azure;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}

b {
    color: #E79115;
}

.logoImage {
    height: 44px;
    width: 176.4px;
}

.sliderImage {
    width: 100%;
    height: 520px;
}

.siteHeader {
    background-color: #E79115;
    position: sticky;
    top: 0;
    width: 100%;
}

.salesButton {
    font-weight: bold;
    background-color: white;
    border: 1px solid black;
    cursor: pointer;
    height: 25px;
    width: 15%;
    text-align: center;
    transition: background-color 0.5s ease-out;
}

.salesButton:hover {
    background-color: #E79115;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: center;
}

.productBox {
    height: 320px;
    width: 20%;
    align-items: center;
    text-align: center;
    border: 3px solid black;
    display: inline-block;
}

.productHeader {
    background-color: gray;
    padding: 5px;
}

.itemDescription {
    top: 40%;
}

.productImage {
    width: 100%;
    height: 84%;
}

.priceTag {
    font-weight: bold;
}

.productButton {
    top: 70%;
    left: 40%;
    width: 30%;
    height: 30px;
}

.pageFooter {
    width: 100%;
    height: 30px;
    background-color: bisque;
}

footer>ul>li {
    display: inline-block;
}

.copyright {
    font-size: 0.7rem;
    color: grey;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: black;
}

/* si se ve muy feo, se arregla con este flex de abajo */

/* .descriptionWrapper { 
    display: flex;
    align-items: center;
} */

.ourProductImage1 {
    width: 50%;
}

.description1 {
    text-align: center;
}

.imageContainer {
    width: 50%;
    height: 50%;
}

.aboutUsTextWrapper {
    width: 50%;
}

.aboutUsImageOne,
.aboutUsImageTwo,
.aboutUsImageThree,
.aboutUsImageFour {
    width: 200px;
    height: 200px;
}

.aboutUsName {
    width: fit-content;
    border-bottom: 2px solid black;
}

.slogan {
    font-style: italic;
}

iframe {
    width: 90%;
}

.materialImage {
    width: 400px;
    height: 200px;
}