.siteHeader {
  background-color: #E79115;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
  padding-left: 1rem;
}
.siteHeader .navbar-nav-link.active {
  color: #E79115;
}

.nav-link {
  transition: all 0.5s;
}
.nav-link:hover {
  border-bottom: 0.1px solid black;
}

.logoImage {
  height: 44px;
  width: 176.4px;
}

.salesButton,
.productButton {
  font-weight: bold;
  background-color: white;
  border: 1px solid #a8b8d0;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 20%;
  text-align: center;
  transition: background-color 0.5s ease-out;
}
.salesButton:hover,
.productButton:hover {
  background-color: #E79115;
  border: 1px solid black;
}

.productButton {
  width: 100%;
}

.pageFooter {
  width: 100%;
  height: 30px;
  background-color: #E79115;
}
.pageFooter .guitarHavenLink {
  color: #E79115;
  cursor: pointer;
}
.pageFooter .copyright {
  font-size: 0.7rem;
  color: grey;
}

.separator {
  width: 100%;
  height: 1px;
  background-color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 2px;
}

.productGrid {
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  grid-gap: 16px;
  padding-bottom: 2rem;
}
.productGrid .card {
  height: 25rem;
  width: 16rem;
  border: 1px solid #a8b8d0;
}
.productGrid .productHeader {
  padding: 5px;
  width: 100%;
}
.productGrid .productImage {
  width: 100%;
  height: 50%;
  object-fit: contain;
}
.productGrid .priceTag {
  font-weight: bold;
}

.sliderImage {
  width: 100%;
  height: 600px;
  object-fit: cover;
}

.ourMaterials {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.materialsContainer {
  display: block;
  width: 70%;
  margin-bottom: 20px;
}
.materialsContainer .materials {
  display: flex;
  align-items: center;
}
.materialsContainer .materials .div1 {
  flex: 1;
  margin-left: -2rem;
}
@media (min-width: 1440px) {
  .materialsContainer .materials .div1 {
    margin-left: 10rem;
  }
}
.materialsContainer .materials .div2 {
  flex: 2;
  margin-right: -3rem;
}
@media (min-width: 1440px) {
  .materialsContainer .materials .div2 {
    margin-right: 10rem;
  }
}

.materialsImage {
  width: 120px;
  height: auto;
}
@media (min-width: 320px) {
  .materialsImage {
    width: 70px;
  }
}
@media (min-width: 768px) {
  .materialsImage {
    width: 90px;
  }
}

iframe {
  display: block;
  margin: 0 auto;
  width: 90%;
  height: 580px;
  box-shadow: 2px 2px #E79115;
}
@media (min-width: 320px) {
  iframe {
    width: 95%;
    height: 280px;
  }
}
@media (min-width: 768px) {
  iframe {
    width: 95%;
    height: 380px;
  }
}
@media (min-width: 1024px) {
  iframe {
    width: 90%;
    height: 480px;
  }
}

main .descriptionWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  margin-top: 10px;
}
main .descriptionWrapper:nth-child(odd) {
  flex-direction: row-reverse;
}
main .descriptionWrapper .ourProductImage1 {
  width: 50%;
  max-width: 100%;
  height: auto;
  transition: all 0.5s;
  border-radius: 10px;
}
main .descriptionWrapper .ourProductImage1:hover {
  transform: scaleY(1.02);
}
main .descriptionWrapper .ourProductTextWrapper {
  width: 50%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
}
main .descriptionWrapper .sectionTitle {
  font-size: 24px;
  margin-bottom: 10px;
}
main .descriptionWrapper .description1 {
  margin-top: 0;
}
@media (max-width: 426px) {
  main .descriptionWrapper {
    display: block;
  }
  main .descriptionWrapper .ourProductImage1 {
    width: 100%;
    margin-top: 10px;
  }
  main .descriptionWrapper .ourProductTextWrapper {
    width: 100%;
  }
  main .descriptionWrapper .responsiveHidden {
    display: none;
    visibility: hidden;
  }
}

.aboutUsContainer {
  display: flex;
  align-items: center;
  padding: 20px;
}
.aboutUsContainer .imageContainer {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-template-rows: repeat(2, auto);
  gap: 20px;
}
.aboutUsContainer .imageContainer .aboutUsImage {
  width: 100%;
  height: auto;
  border-radius: 10px;
}
.aboutUsContainer .imageContainer .aboutUsImage:nth-child(2n) {
  margin-right: 0;
}
.aboutUsContainer .aboutUsTextWrapper {
  flex: 1;
  padding: 20px;
}
.aboutUsContainer .aboutUsTextWrapper .aboutUsName {
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}

@media screen and (max-width: 1024px) {
  .aboutUsContainer .imageContainer {
    display: inline-block;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }
  .aboutUsContainer .imageContainer .aboutUsImage {
    margin-right: 0;
    margin-bottom: 10px;
  }
}
@media screen and (max-width: 426px) {
  .aboutUsContainer {
    flex-direction: column-reverse;
    align-items: flex-start;
    align-items: center;
  }
  .responsiveHidden {
    display: none;
  }
}
.directionWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 20px;
  padding: 20px;
}
.directionWrapper .mapContainer {
  width: 90%;
}
.directionWrapper .mapContainer iframe {
  width: 100%;
  height: 450px;
  border: 0;
}
.directionWrapper .textContainer {
  text-align: left;
  width: 100%;
}
.directionWrapper .separator {
  border-top: 1px solid #ccc;
  width: 100%;
  margin: 20px 0;
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  border: 1px solid black;
  border-radius: 10px;
  height: 600px;
  width: 100%;
  margin: 1rem 0 1rem 0;
  background-image: url(../guitarHavenImages/formImages/formBackgroundImg.jpg);
  background-size: cover;
  background-position: center;
}
.contactForm form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 400px;
}
.contactForm form input[type=text],
.contactForm form input[type=number],
.contactForm form input[type=email] {
  margin-bottom: 1rem;
  border: none;
  border-bottom: 1px solid black;
  width: 70%;
}
.contactForm form input[type=text]::placeholder,
.contactForm form input[type=number]::placeholder,
.contactForm form input[type=email]::placeholder {
  opacity: 0.5;
  padding-left: 2%;
}
.contactForm form .termsAndConditions {
  display: flex;
  margin-bottom: 1rem;
  justify-content: space-around;
  color: #E79115;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}
.contactForm form button {
  font-weight: bold;
  background-color: white;
  border: 1px solid #a8b8d0;
  border-radius: 5px;
  cursor: pointer;
  height: 25px;
  width: 50%;
  text-align: center;
  transition: background-color 0.5s ease-out;
}
.contactForm form button:hover {
  background-color: #E79115;
  border: 1px solid black;
}

@media screen and (max-width: 376px) {
  .contactForm form {
    width: 100%;
  }
  .contactForm form input[type=text],
  .contactForm form input[type=number],
  .contactForm form input[type=email] {
    width: 80%;
  }
}
* {
  padding: 0;
  margin: 0;
}

html {
  font-family: "Poppins", sans-serif;
  background-color: #FAEDE3;
}

h1 {
  font-size: 3rem;
  font-weight: 1000;
}

h2 {
  font-size: 2rem;
  font-weight: 800;
}

h3 {
  font-size: 1.5rem;
  font-weight: 700;
}

b {
  color: #E79115;
  text-shadow: 0 0 3px #000, 0 0 5px #000;
}

.titles {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem 0;
}

.placeholder {
  margin-left: 1rem;
}

/*# sourceMappingURL=styles.css.map */
