* {
    padding: 0;
    margin: 0;
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    background-color: #FAEDE3;
}

h1 {
    font-size: 3rem;
    font-weight: 700;
}

h2 {
    font-size: 2rem;
    font-weight: 600;
}

h3 {
    font-size: 1.5rem;
}

b {
    color: #E79115;
}

.logoImage {
    height: 44px;
    width: 176.4px;
}

.sliderImage {
    width: 100%;
    height: 600px;
}

.siteHeader {
    background-color: #E79115;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 10;
    padding-left: 1rem;
}

.salesButton,
.productButton {
    font-weight: bold;
    background-color: white;
    border: 1px solid #a8b8d0;
    border-radius: 5px;
    cursor: pointer;
    height: 25px;
    width: 20%;
    text-align: center;
    transition: background-color 0.5s ease-out;
}

.salesButton:hover,
.productButton:hover {
    background-color: #E79115;
}

.productButton {
    width: 100%;
}

.titles {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0 1rem 0;
}

.productGrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 16px;
    grid-row-gap: 16px;
    padding-bottom: 2rem;
}

.card {
    height: 25rem;
    width: 16rem;
    border: 1px #a8b8d0 solid;
}

.productHeader {
    padding: 5px;
    width: 100%;
}

.productImage {
    width: 100%;
    height: 50%;
}

.priceTag {
    font-weight: bold;
}

.pageFooter {
    width: 100%;
    height: 30px;
    background-color: #E79115;
}

.guitarHavenLink {
    color: #E79115;
    cursor: pointer;
}

.copyright {
    font-size: 0.7rem;
    color: grey;
}

.separator {
    width: 100%;
    height: 1px;
    background-color: black;
}

.ourProductImage1 {
    width: 50%;
}

.description1 {
    text-align: center;
}

.imageContainer {
    width: 50%;
    height: 50%;
}

.aboutUsTextWrapper {
    width: 50%;
}

.aboutUsImageOne,
.aboutUsImageTwo,
.aboutUsImageThree,
.aboutUsImageFour {
    width: 200px;
    height: 200px;
}

.aboutUsName {
    width: fit-content;
    border-bottom: 2px solid black;
}

.slogan {
    font-style: italic;
}

iframe {
    width: 90%;
}

.materialImage {
    width: 400px;
    height: 200px;
}