.aboutUsContainer {
    display: flex;
    align-items: center;
    padding: $spacing;

    .imageContainer {
        display: grid;
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(2, auto);
        gap: $spacing;

        .aboutUsImage {
            width: 100%;
            height: auto;
            border-radius: 10px;

            &:nth-child(2n) {
                margin-right: 0;
            }
        }
    }

    .aboutUsTextWrapper {
        flex: 1;
        padding: $spacing;
        b {
            text-shadow: none;
        }

        .aboutUsName {
            border-bottom: 1px solid black;
            margin-bottom: 10px;
        }
    }
}

@media screen and (max-width: 1024px) {
    .aboutUsContainer {
        .imageContainer {
            display: inline-block;
            flex-wrap: wrap;
            justify-content: center;
            gap: 10px;

            .aboutUsImage {
                margin-right: 0;
                margin-bottom: 10px;
            }
        }
    }
}

@media screen and (max-width: 426px) {
    .aboutUsContainer {
        flex-direction: column-reverse;
        align-items: flex-start;
        align-items: center;
    }

    .responsiveHidden {
        display: none;
    }
}

.directionWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: $spacing;
    padding: $spacing;

    .mapContainer {
        width: 90%;

        iframe {
            width: 100%;
            height: 450px;
            border: 0;
        }
    }

    .textContainer {
        text-align: left;
        width: 100%;
    }

    .separator {
        border-top: 1px solid #ccc;
        width: 100%;
        margin: $spacing 0;
    }
}