iframe {
    display: block;
    margin: 0 auto;
    width: 90%;
    height: 580px;
    box-shadow: 2px 2px $primary-color;

    @media (min-width: 320px) {
        width: 100%;
        height: 280px;
    }

    @media (min-width: 768px) {
        width: 100%;
        height: 380px;
    }

    @media (min-width: 1024px) {
        width: 90%;
        height: 480px;
    }
}