main {
  .descriptionWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    margin-top: 10px;

    &:nth-child(odd) {
      flex-direction: row-reverse;
    }

    .ourProductImage1 {
      width: 50%;
      max-width: 100%;
      height: auto;
      transition: all 0.5s;
      border-radius: 10px;

      &:hover {
        transform: scaleY(1.02);
      }
    }

    .ourProductTextWrapper {
      width: 50%;
      max-width: 100%;
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
    }

    .sectionTitle {
      font-size: 24px;
      margin-bottom: 10px;
    }

    .description1 {
      margin-top: 0;
      width: 100%;
    }
  }

  @media (max-width: 426px) {
    .descriptionWrapper {
      display: block;

      .ourProductImage1 {
        width: 100%;
        margin-top: 10px;
      }

      .ourProductTextWrapper {
        width: 100%;
      }

      .responsiveHidden {
        display: none;
        visibility: hidden;
      }
    }
  }
}