.productGrid {
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
    grid-gap: 16px;
    padding-bottom: 2rem;

    .card {
        height: 25rem;
        width: 16rem;
        border: 1px solid $secondary-color;
    }

    .productHeader {
        padding: 5px;
        width: 100%;
    }

    .productImage {
        width: 100%;
        height: 50%;
        object-fit: contain;

    }

    .priceTag {
        font-weight: bold;
    }
}

.sliderImage {
    width: 100%;
    height: 600px;
    object-fit: cover;
}

  